<section class="contact-section" id="contact">
  <div class="contact-wrap container">
    <h2 class="contact-title">Contact</h2>
    <div class="contact-info">
      <div class="contact-box">
        <p class="contact-label">Email:</p>
        <a class="contact-email" href="mailto:info@enchantedtapblitz.com">
          info@enchantedtapblitz.com
        </a>
      </div>
      <div class="contact-box">
        <p class="contact-label">Social Media:</p>
        <ul class="social-media-list">
          <li class="social-icons-item">
            <a href="#" aria-label="Facebook">
              <img class="contact-ico" src="./img/fb-ico.png" alt="Facebook" />
            </a>
          </li>
          <li class="social-icons-item">
            <a href="#" aria-label="Twitter">
              <img class="contact-ico" src="./img/twitter-ico.png" alt="Twitter" />
            </a>
          </li>
          <li class="social-icons-item">
            <a href="#" aria-label="Instagram">
              <img class="contact-ico" src="./img/instagram-ico.png" alt="Instagram" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
