<section class="features-section" id="features">
  <div class="features-wrap container">
    <h2 class="features-title">Key features</h2>
    <ul class="features-list">
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">01</span>
            <h3 class="features-item-title">Handcrafted Puzzle Challenges</h3>
          </div>
          <p class="features-item-text">Explore more than 30 immersive tile-sliding levels, each offering a unique spatial and logic-based challenge.</p>
          <img class="features-item-img" src="./img/features-img-1.png" alt="">
        </div>
      </li>
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">02</span>
            <h3 class="features-item-title">Nine Magical Realms</h3>
          </div>
          <p class="features-item-text">From eerie marshes to glowing caves and mechanical ruins—every realm is beautifully distinct with its own visual tile-set.</p>
          <img class="features-item-img" src="./img/features-img-2.png" alt="">
        </div>
      </li>
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">03</span>
            <h3 class="features-item-title">No Words. Just Emotion.</h3>
          </div>
          <p class="features-item-text">A silent narrative experience delivered through atmospheric music and visual storytelling.</p>
          <img class="features-item-img" src="./img/features-img-3.png" alt="">
        </div>
      </li>
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">04</span>
            <h3 class="features-item-title">Bonus Holiday Levels</h3>
          </div>
          <p class="features-item-text">Unlock a special winter-themed world that adds a cozy seasonal touch.</p>
          <img class="features-item-img" src="./img/features-img-4.png" alt="">
        </div>
      </li>
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">05</span>
            <h3 class="features-item-title">Climactic Puzzle Battles</h3>
          </div>
          <p class="features-item-text">Face a formidable shadowy boss in a dynamic, tile-driven final confrontation.</p>
          <img class="features-item-img" src="./img/features-img-5.png" alt="">
        </div>
      </li>
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">06</span>
            <h3 class="features-item-title">One-Time Purchase</h3>
          </div>
          <p class="features-item-text">Play the beginning for free. Unlock the full experience with a single in-app payment—no ads, no interruptions.</p>
          <img class="features-item-img" src="./img/features-img-6.png" alt="">
        </div>
      </li>
      <li class="features-list-item">
        <span class="features-line"></span>
        <div class="features-item-wrap">
          <div class="features-title-wrap">
            <span class="features-digit">07</span>
            <h3 class="features-item-title">Crafted with Heart</h3>
          </div>
          <p class="features-item-text">Inspired by the developers’ childhoods and artistic backgrounds, each environment was lovingly detailed by hand.</p>
          <img class="features-item-img" src="./img/features-img-7.png" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>
