<section class="gallery-section" id="gallery">
  <div class="gallery-wrap container">
    <h2 class="gallery-title">Gallery</h2>
    <h3 class="gallery-subtitle">Screenshots and Artwork</h3>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <img class="gallery-img" src="./img/gallery-img-1.png" alt="wizzard" />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-img"
          src="./img/gallery-img-2.png"
          alt="magic tree"
        />
      </li>
      <li class="gallery-list-item">
        <img class="gallery-img" src="./img/gallery-img-3.png" alt="trees" />
      </li>
      <li class="gallery-list-item">
        <img class="gallery-img" src="./img/gallery-img-4.png" alt="forest" />
      </li>
      <li class="gallery-list-item">
        <img class="gallery-img" src="./img/gallery-img-5.png" alt="light" />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-img"
          src="./img/gallery-img-6.png"
          alt="magic tree"
        />
      </li>
    </ul>
  </div>
</section>
