<section class="game-description-section" id="description">
  <div class="game-description-wrap container">
    <div class="game-deskription-main">
      <h2 class="game-description-title">Game Description</h2>
      <h3 class="game-description-subtitle">
        Enter a World Torn Asunder by Darkness.<br/>Rebuild It, One Puzzle at a Time.
      </h3>
      <p class="game-description-main-text">
        The Enchanted World is a tile-sliding puzzle adventure wrapped in an
        emotional tale of healing, courage, and wonder. Guide a brave little fairy
        through a devastated world, solving intricate handcrafted puzzles to
        restore magic to forests, deserts, meadows, and even a surreal futuristic
        landscape.
      </p>
      <p class="game-description-subtext">
        Every move brings you closer to uncovering forgotten beauty. Every solved
        puzzle is a step toward hope. This game was lovingly created by artists
        with a background in film and animation to deliver a story told entirely
        through mesmerizing visuals and an evocative soundtrack. Headphones
        recommended.
      </p>
    </div>
    <img class="game-description-img" src="./img/game-descriptions-img.png" alt="wizzard">
  </div>
</section>
