<header class="header-section">
  <nav class="nav-container container">
    <button class="burger-open-btn">
      <img class="burger-menu-img" src="./img/mobile/burger-ico.png" alt="" />
    </button>
    <button class="burger-close-btn">
      <img
        class="close-menu-img"
        src="./img/mobile/close-menu-ico.png"
        alt=""
      />
    </button>
    <ul class="hidden-header-nav-list">
      <li class="hidden-header-nav-list-item">
        <a class="hidden-header-nav-list-link" href="#home">Home</a>
      </li>
      <li class="hidden-header-nav-list-item">
        <a class="hidden-header-nav-list-link" href="#description"
          >Game description</a
        >
      </li>
      <li class="hidden-header-nav-list-item">
        <a class="hidden-header-nav-list-link" href="#features">key Features</a>
      </li>
      <li class="hidden-header-nav-list-item">
        <a class="hidden-header-nav-list-link" href="#faq">FAQ</a>
      </li>
      <li class="hidden-header-nav-list-item">
        <a class="hidden-header-nav-list-link" href="#gallery">Gallery</a>
      </li>
      <li class="hidden-header-nav-list-item">
        <a class="hidden-header-nav-list-link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="backdrop container">
  <nav class="bd-nav">
    <ul class="bg-nav-list">
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="#home">Home</a>
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="#description">Game description</a>
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="#features">key Features</a>
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="#faq">FAQ</a>
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="#gallery">Gallery</a>
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="#contact">Contact</a>
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="bg-nav-list-item">
        <a class="bg-nav-list-link" href="./terms-and-conditions.html"
          >Terms and Conditions</a
        >
      </li>
    </ul>
  </nav>
</div>
