.header-section {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  @include media(desktop) {
    top: 16px;
    border-radius: 10px;
    padding: 8px 0px;
    height: 48px;
  }
}

.hidden-header-nav-list {
  display: none;
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.nav-container {
  position: relative;
}

.burger-open-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 10px;
  @include media(desktop) {
    display: none;
  }
}

.burger-close-btn {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background: #f1f1f1;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
}

.bd-nav {
  margin-top: 84px;
}

.bg-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bg-nav-list-item {
  padding: 8px 0px;
}

.bg-nav-list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #1b1a1b;
}

.hidden-header-nav-list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
